<div class="col-md-4">
    <div class="card mb-4 box-shadow" style="width: 18rem;">
        <img class="card-img-top" src="../assets/images/{{project.image}}" alt=""/>
        <div class="card-body">
            {{project.content}}
            <!-- <a href="{{project.content}}"> -->

            
            <!-- <h5 class="card-title">{{project.title}}</h5> -->
        </a>
            <!-- <div class="d-flex justify-content-between align-item-center">
                <div class="btn">
                    <a href="http://www.{{ project.url | relative_link }}"><button type="button" class="btn btn-outline-primary">View </button></a>
                </div>
            </div> -->
        </div>
    </div>
</div>
